NUXT_BASE_API_URL=http://booxit-backend-nginx/api
NUXT_APP_ID=main
NUXT_GOOGLE_AUTH_CLIENT_ID=dummy
NUXT_SOCIAL_AUTH_REDIRECT_URI=http://localhost:3000/login
NUXT_REDIS_PASSWORD=!changeMe
NUXT_GOOGLE_MAPS_API_KEY=